:root{
  --darkgray: hsl(0, 0%, 17%);
  --gray: hsl(0, 0%, 59%);
  --rubikfont: 'Rubik', sans-serif;
}
#heroSection{
  background-image: url('./images/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 400px;
  position: relative;
  top: -20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#heroHeader{
  font-family: var(--rubikfont);
  font-size: 40px;
  margin-top: 80px;
  color:  white;
}
#textType{
  padding: 21px;
  width: 400px;
  border-radius: 10px 0 0 10px;
  color: var(--darkgray);
  border: transparent;
  font-family: var(--rubikfont);
  font-size: 18px;
}
#submitButton{
  width: 60px;
  height: 63px;
  border-radius: 0 10px 10px 0;
  border: 1px transparent;
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  background-color: black;
  color: transparent;
  cursor: pointer;
}
#submitButton:hover{
  transition: 0.3s;
  background-color: var(--darkgray);
}

#boxResults{
  width: 70%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  text-align: left;
  position: relative;
  background: white;
  box-shadow: 0 0 2px 0px white;
  top: -120px;
  z-index: 10;
}
p{
  font-weight: 400;
  color: var(--gray);
}

#borderRight{
  border-right: 1px solid gray;
}
.resultBox{
  width: 200px;
  height: 150px;
}

#map{
  position: relative;
  top: -240px;
  z-index: 0;
}

img.leaflet-marker-icon
{
    background-image: url("./images/icon-location.svg");
    background-size: contain;
    background-repeat: no-repeat;
} 
@media (max-width: 1300px) {
  *{
    font-size: 16px;
    transition: 0.2s;
  }
  #boxResults{
    width: 90%;
  }
}
@media (max-width: 700px) {
  #textType{
    width: 250px;
  }
  #boxResults{
    height: 400px;
    flex-direction: column;
  }
  #borderRight{
    border-right: 1px transparent;
  }
  #map{
    top: -440px
  }
}